
@import "tailwindcss";

@theme {
  --font-sans: Montserrat, ui-sans-serif, system-ui, sans-serif;
  --color-cfew-primary-50: #EBF1E5;
  --color-cfew-primary-100: #BBCCBB;
  --color-cfew-primary-400: #6C925B;
  --color-cfew-primary-500: #4B6E3C;
  --color-cfew-primary-500-15%: hsla(102, 29%, 33%, 0.15);
  --color-cfew-primary-600: #3F5C32;
  --color-cfew-primary-800: #27391F;
  --color-cfew-primary-900: #1B2816E5;
  --color-cfew-primary-900-90%: #1B2816E5;
  --color-cfew-secondary-500: hsla(43, 97%, 53%, 1);
  --color-cfew-transparent: #00000080;
  --color-cfew-interface: #FFF8E8;
  --color-cfew-dark: #2D2D2D;
  --color-cfew-blog: #EDEBD7;
  --color-cfew-blog-default: hsl(94, 23%, 86%);
  --color-cfew-blog-hover: hsl(94, 23%, 62%)
}

.hero-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.159375) 57.51%, rgba(0, 0, 0, 0.31875) 79.82%, rgba(0, 0, 0, 0.6375) 100.04%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}