/* @import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@theme {
  --font-family-sans: Montserrat, ui-sans-serif, system-ui, sans-serif;
  --color-cfew-primary-50: #EBF1E5;
  --color-cfew-primary-100: #BBCCBB;
  --color-cfew-primary-400: #6C925B;
  --color-cfew-primary-500: #4B6E3C;
  --color-cfew-primary-600: #3F5C32;
  --color-cfew-primary-800: #27391F;
  --color-cfew-primary-900: #1B2816E5;
  --color-cfew-transparent: #00000080;
  --color-cfew-interface: #FFF8E8;
  --color-cfew-dark: #2D2D2D;
}

a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */





@import "tailwindcss";

@theme {
  --font-sans: Montserrat, ui-sans-serif, system-ui, sans-serif;
  --color-cfew-primary-50: #EBF1E5;
  --color-cfew-primary-100: #BBCCBB;
  --color-cfew-primary-400: #6C925B;
  --color-cfew-primary-500: #4B6E3C;
  --color-cfew-primary-500-15%: #4B6E3C26;
  --color-cfew-primary-600: #3F5C32;
  --color-cfew-primary-800: #27391F;
  --color-cfew-primary-900: #1B2816E5;
  --color-cfew-transparent: #00000080;
  --color-cfew-interface: #FFF8E8;
  --color-cfew-dark: #2D2D2D;
  --color-cfew-blog: #EDEBD7;
}
